<main class="w-screen h-screen flex flex-col items-center py-4 relative">
    <div class="py-2">
      <img src="./assets/VAULT FINAL-01 1.png" alt="Vault App">
    </div>
  
    <div class="w-full px-8 py-10 flex flex-col items-start z-50">
      <div class="leading-3">
        <p class="font-bold text-5xl text-[#011936]">Registre,</p>
        <br>
        <p class="font-bold text-5xl text-[#011936]">Otimize,</p>
        <br>
        <p class="font-bold text-5xl text-[#011936]">Gerencie.</p>
      </div>
      <div class="w-2/3 py-4">
        <p class="text-2xl text-[#FF206E]">Seu inventário na palma da mão.</p>
      </div>
    </div>

    <app-big-red-button class="z-50 absolute bottom-8" bigButtonText="Começar" bigButtonLink="/login"></app-big-red-button>
  
    <div class="fixed bottom-0 z-0">
      <img src="./assets/foto.png" alt="Pessoas de TI trabalhando">
    </div>
  
  </main>
