<main class="w-screen h-screen bg-[#41EAD4] flex flex-col items-center relative">
  <div class="flex flex-col items-center gap-14 absolute top-24">
    <div class="flex flex-col items-center">
      <img src="./assets/VAULT numpad-06 1.png" alt="Vault Numpad">
      <p class="text-[#011936] text-2xl font-bold">Entrar na sua conta vault</p>
    </div>
    <div>
      <form action="#" class="w-full flex flex-col items-center gap-10">
        <app-input inputText="Usuário"></app-input>
        <app-input inputText="Senha"></app-input>
        <app-big-red-button bigButtonText="Entrar"></app-big-red-button>
        <app-discrete-button discreteButtonLink="/inicio" discreteButtonText="Voltar ao início"></app-discrete-button>
      </form>
    </div>
  </div>

  <div class="flex flex-col items-center absolute bottom-8">
    <p class="text-[#011936] font-semibold">Versão 1.0</p>
    <p class="text-[#FF206E] font-bold">Feedback</p>
  </div>
</main>